.instruments {
}

.canvas-wrap {
	min-width: 3.5em;
	float: left;
}
canvas {
	display: inline;
	background: transparent;
}
a {
	color: black;
}
a:visited {
	color: dimgray;
}
.instrument {
	margin: 0.8em;
	width: 20em;
	display: inline-block;
}
.instrument>.ticker {
	display: none;
}
.instrument>.name {
	margin: 0.5em;
}